<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>

    <% if(messages.success_msg) {%> 
    <li><%= messages.success_msg %></li>
    <% } %>

    <form action="/users/login" method="POST">
        
        <div>
            <input type="email" id="email" name="email" placeholder="email" required>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        
        <div>
            <input type="submit" value="Login">
        </div>
        <a href="/users/register">Not registered? Register here </a>
    </form>
</body>
</html>